# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/._.gitignore
/public/images/._1
/public/images/._2
/public/images/1/._black_back.png
/public/images/2/._black_back.png
/public/images/1/._black_front.png
/public/images/2/._black_front.png
/public/images/2/._blue_back.png
/public/images/2/._blue_front.png
/public/images/1/._gray_back.png
/public/images/1/._gray_front.png
/.idea/._modules.xml
/.idea/._test-task-react.iml
/.idea/._vcs.xml
/public/images/1/._white_back.png
/public/images/1/._white_front.png
/.idea/._workspace.xml
/public/images/2/._yellow_back.png
/public/images/2/._yellow_front.png
/.idea/vcs.xml
